<head>
    <link rel="stylesheet" href="/stylesheets/forms.css" />
</head>


<form id="form" action="/login" method="POST" class="auth-form">
  <h2>Login</h2>
  <div class="mb-3">
    <label for="emailInput" class="form-label">Email address</label>
    <input type="email" name="email" class="form-control" id="emailInput" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="passwordInput" class="form-label">Password</label>
    <input type="password" name="password" class="form-control" id="passwordInput">
  </div>
  
  <button type="submit" class="btn btn-primary">Login</button>
  <p class="sign-up-cta">Not registered yet? <a href="/sign-up">Sign up</a></p>
</form>

{{!-- error message display: --}} 

{{#if errorMessage}}
  <div class="error-message">{{ errorMessage }}</div>
{{/if}}