
            <div class="listing-card">
              <div class="card-img" style="background-image: url({{this.image}})"></div>
              <div class="card-info">
                <h3>{{this.name}}</h3>
                <p><em>Origin:</em> {{this.originCountry}}</p>
                <a href="/coffees/detail/{{this._id}}">See Details</a>
              </div>
            </div>    