<h2>Hello {{user.username}}!</h2>

<h3>Favorite Coffees</h3>
    <div class="container">
        <div class="row gy-5">
          {{#each user.favoriteCoffees}}
          <div class="col-sm col-lg-3">
            {{> coffeecard}}
          </div>
          {{/each}}
        </div>
    </div>

{{#if isRoaster}}
<h3>My Company</h3>
<h3>Favorite Coffees</h3>
    <div class="container">
        <div class="row gy-5">
          {{#each user.roaster}}
          <div class="col-sm col-lg-3">
            {{this.name}}
          </div>
          {{/each}}
        </div>
    </div>
</hr>
<a href="/roasters/create-roaster">Create a Roaster Profile</a><br>
<a href="/coffees/create-coffee">Create a Coffee</a><br>

{{/if}}