<h2>Welcome {{user.username}}!</h2>

<h3>Favorite Coffees</h3>
    <div class="container">
        <div class="row gy-5">
          {{#each user.favoriteCoffees}}
          <div class="col-sm col-lg-3">
            {{> coffeecard}}
          </div>
          {{/each}}
        </div>
    </div>

{{#if isRoaster}}

<a href="/roasters/detail/{{user.roaster}}">My Company Profile</a>
<a href="/roasters/create-roaster">Create a Roaster Profile</a>
<a href="/coffees/create-coffee">Create a Coffee</a>

{{/if}}