<h2>Welcome {{user.username}}!</h2>

{{#if user.profileType}}

<a href="/roasters/create-roaster">Create a Roaster Profile</a>

{{#each user.favoriteCoffees}}

​    <a href="/coffees/detail/{{this._id}}" >{{this.name}}</a>

{{/each}}

{{/if}}