<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/user-profile.css" />
</head>

<div class="profile-container">

<h2>Hello {{user.username}}!</h2>

<div class="favorites-row">
<h3>Favorite Coffees</h3>
    <div class="container">
        <div class="row gy-5">
          {{#each user.favoriteCoffees}}
          <div class="col-sm col-lg-3">
            {{> coffeecard}}
          </div>
          {{/each}}
        </div>
    </div>
</div>

<div class="roaster-row">
{{#if isRoaster}}
<div class="my-company">
<h3>My Company</h3>
    <div class="container">
        <div class="row gy-5">
          {{#each user.roaster}}
          <div class="col-sm col-lg-3">
            {{this.name}}
          </div>
          {{/each}}
        </div>
    </div>
</div>
<div class="manage-profile-row">
  <a href="/roasters/create-roaster">Create a Roaster Profile</a><br>
  <a href="/coffees/create-coffee">Create a Coffee</a><br>
</div>
{{/if}}
</div>



