main {
    padding: 60px 80px;
}
h1 {
    font-weight: bold;
    color: var(--burgundy);
}
h2 {
    margin-bottom: 50px;
}
.btn-row {
    display: flex;
    margin-top: 50px;
}
.btn {
    width: 180px;
    margin-right: 10px;
}
/* ROASTER */
.coffees-list-section {
    margin-top: 80px;
    min-height: 200px;
}
.roaster-logo {
    width:300px;
}