main {
    padding: 80px 0;
}

/* SEARCH FORMS */
.search-listing-form {
    border-radius: 15px;
    background-color: #335b523a;
    padding: 35px;
    margin-bottom: 50px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    position: sticky;
    top: 80px;
  }

  .search-listing-form label {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  
  .search-listing-form input {
    margin-bottom: 10px;
  }
  
  .search-listing-form .btn {
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
  }
  