@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,900;1,300;1,400;1,700&family=Nunito:ital,wght@0,300;0,400;0,700;1,300;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
}
:root {
  --beige: #eadac5;
  --pink: #d47985;
  --green: #335b52;
  --magenta: #AF3146;
  --burgundy: #651924;
  --body-font-family: 'Lato', sans-serif;
  --heading-font-family: 'Nunito', sans-serif;
}
p, li {
  font-family: var(--body-font-family);
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font-family);
}
a {
  color: var(--burgundy);
  text-decoration: none;
}
a:hover {
  color: var(--magenta);
}
nav {
  background: var(--beige);
}
.btn {
  margin-top: 20px;
  background-color: var(--burgundy);
  border: none;
}
.btn:hover {
  background-color: var(--magenta);
}
.nav-link {
  color: var(--burgundy);
  font-size: 1.1rem;
}
.nav-link:hover {
  color: var(--magenta);
}
.logo-nav {
  width: 150px;
}
main {
  padding: 50px;
  background-color: var(--beige);
}
/* RESULTS PAGE */
.listing-card {
  background-color: white;
  border-radius: 20px;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.4));
}
.card-img {
  height: 200px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-bottom: 10px;
}
.card-info {
  padding: 20px
}