* {
  margin: 0;
  padding: 0;
}

:root {
  --bege: #eadac5;
  --pink: #d47985;
  --green: #335b52;
  --magenta: #AF3146;
  --burgundy: #651924;
}

body {
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}
main {
  padding: 50px;
}
a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}
