h2,
h3 {
  color: var(--burgundy);
}
.profile-container {
  background-image: url(/images/img-bg-profile.jpeg);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 850px;
  padding: 60px 60px 60px 200px;
}
.favorites-row {
  min-height: 150px;
  margin-top: 10px;
}
.manage-profile-row {
  min-height: 150px;
}
.roaster-section {
  margin-bottom: 80px;
}
.my-business-card {
  width: 600px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  padding: 20px;
}
.my-business-card h3 {
  font-size: 1.4rem;
}
.my-business-card img {
  width: 200px;
}
.favorites-listing {
  margin-top: 50px;
}