<head>
    <link rel="stylesheet" href="/stylesheets/listing-view.css" />
</head>

<div class="container">
  <div class="row">
    <div class="col-lg-3 col-sm">
      <div class="sticky-items">
      <form action='/coffee-search' method='GET' class="search-listing-form">
        <div class="form-group">
            <label for="coffeeNameInput">Coffee Name</label>
            <input type="text" name="name" class="form-control" id="coffeeNameInput">
        </div>
        <div class="form-group">
            <label for="originCountryInput">Origin Country</label>
            <input type="text" name="originCountry" class="form-control" id="coriginCountryInput">
        </div>
        <div class="form-group">
            <label for="coffeeFlavorInput">Flavor</label>
            <input type="text" name="flavor" class="form-control" id="coffeeFlavorInput">
        </div>
        <button type="submit" class="btn btn-primary btn-block">Search</button>
        </form>
        <div id="img-coffee-search"></div>
        </div>
    </div>
    <div class="col-lg-9 col-sm">
      <div class="container">
        <div class="row gy-5">
          {{#each coffeesList}}
          <div class="col-sm col-lg-4">
            {{> coffeecard}}
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>