<head>
    <link rel="stylesheet" href="/stylesheets/forms.css" />
</head>

<h2>Create new coffee</h2>

<form id="form" action="/coffees/create-coffee" method="POST" enctype="multipart/form-data">
  <div class="mb-3">
    <label for="nameInput" class="form-label">Name</label>
    <input type="text" name="name" class="form-control" id="nameInput">
  </div>
<div class="mb-3">
    <label for="processInput" class="form-label">Process</label>
    <select name='process' class="form-select" aria-label="Default select example">
        <option selected>Choose a process</option>
        <option value="washed">Washed</option>
        <option value="natural">Natural</option>
        <option value="honey">Honey</option>
        <option value="other">Other</option>
    </select>
  </div>
<div class="mb-3">
    <label for="originCountryInput" class="form-label">Origin Country</label>
    <select name='originCountry' class="form-select" aria-label="Default select example">
        <option selected>Choose an origin country</option>
        <option value="Brazil">Brazil</option>
        <option value="Colombia">Colombia</option>
        <option value="Ethiopia">Ethiopia</option>
        <option value="Costa Rica">Costa Rica</option>
        <option value="Rwanda">Rwanda</option>
        <option value="Kenya">Kenya</option>
        <option value="Other">Other</option>
    </select>
  </div>
  <div class="mb-3">
    <label for="varietyInput" class="form-label">Variety</label>
    <input type="text" name="variety" class="form-control" id="varietyInput">
  </div>
  <div class="mb-3">
    <label for="roastTypeInput" class="form-label">Roast Type</label>
    <select name='roastType' class="form-select" aria-label="Default select example">
        <option selected>Choose a roast type</option>
        <option value="filter">Filter</option>
        <option value="espresso">Espresso</option>
    </select>
  </div>
  <div class="mb-3">
    <label for="flavorInput" class="form-label">Flavor</label>
    <input type="text" name="flavor" class="form-control" id="flavorInput">
  </div>
  <div class="mb-3">
    <label for="roasterInput" class="form-label">Roaster</label>
    <select name='roaster' class="form-select" aria-label="Default select example">
        <option selected>Choose a roaster</option>
        {{#each roasterList}}
        <option value="{{this._id}}">{{this.name}}</option>
        {{/each}}
    </select>
  </div>
  <div class="custom-file">
    <input name="image" type="file" class="custom-file-input" id="imageFile">
  </div>
  
  <button type="submit" class="btn btn-primary">Create coffee</button>
</form>

{{!-- error message display: --}} 

{{#if errorMessage}}
  <div class="error-message">{{ errorMessage }}</div>
{{/if}}