<head>
    <link rel="stylesheet" href="/stylesheets/quiz-style.css" />
</head>

<div class="quiz-result-section">
<h2>Hey, {{user.username}}!</h2>

<p class="countries-result"><strong>Your origin coffee match is: </strong>{{originCountries}}</p>

<hr>
    <div class="container">
        <div class="row gy-5">
          {{#each coffeesList}}
          <div class="col-sm col-lg-3">
            {{> coffeecard}}
          </div>
          {{/each}}
        </div>
    </div>
</div>